{{#each this}}
<div class="contact" data-id="{{id}}">
        <h1 class="contact__title">{{name}} {{lastname}}</h1>
        <div class="contact__btn">
          <button type="button" class="contact__btn-delete" data-id="{{id}}">
            <i class="material-icons btn">delete</i>
          </button>
          <button type="button" class="contact__btn-edit"
        data-id="{{id}}">
            <i class="material-icons btn">create</i>
          </button>
          <button type="button" class="field-add-btn open " data-id={{id}} ><i class="material-icons">add</i></button>
            
          </button>
        </div>

        <ul class="contact__list">
          <li class="contact__element" data-id="{{id}}">
            <div class="contact__element-name" data-id={{id}}>
              <p class="contact__element-name__title">Имя</p>
              <p class="contact__element-name__title">Фамилия</p>
              <p class="contact__element-name__title">Номер телефона</p>
              <p class="contact__element-name__title">e-mail</p>              
              <p class="contact__element-name__title">{{#field1}}{{value}}{{/field1}}</p>
              <p class="contact__element-name__title">{{#field2}}{{value}}{{/field2}}</p>
              <p class="contact__element-name__title">{{#field3}}{{value}}{{/field3}}</p>
              <p class="contact__element-name__title">{{#field4}}{{value}}{{/field4}}</p>
              <p class="contact__element-name__title">{{#field5}}{{value}}{{/field5}}</p>             
            </div>
          </li>
          <li class="contact__element">
            <div class="contact__element-second-name" data-id={{id}}>
              <p class="contact__element-second-name__title" >{{name}}</p>
              <p class="contact__element-second-name__title">{{lastname}}</p>
              <p class="contact__element-second-name__title">{{number}}</p>
              <p class="contact__element-second-name__title">{{email}}</p>
              <div class="contact__field-wrapper">   
                <p class="contact__element-second-name__title">{{#field1}}{{info}}{{/field1}}</p>
                <button type="button" class="btn-edit-name field1"data-id={{id}}><i class="material-icons edit field">edit</i></button>
                 <button type="button" class="btn-delete-name field1"data-id={{id}}><i class="material-icons field">clear</i></button>
              </div>
              <div class="contact__field-wrapper">   
                <p class="contact__element-second-name__title">{{#field2}}{{info}}{{/field2}}</p>
                <button type="button" class="btn-edit-name field2"data-id={{id}}><i class="material-icons edit field">edit</i></button>
                <button type="button" class="btn-delete-name field2"data-id={{id}}><i class="material-icons field">clear</i></button>

              </div>
              <div class="contact__field-wrapper">   
                <p class="contact__element-second-name__title">{{#field3}}{{info}}{{/field3}}</p>
                <button type="button" class="btn-edit-name field3"data-id={{id}}><i class="material-icons edit field">edit</i></button>
                <button type="button" class="btn-delete-name field3"data-id={{id}}><i class="material-icons field">clear</i></button>

              </div>
              <div class="contact__field-wrapper">   
                <p class="contact__element-second-name__title">{{#field4}}{{info}}{{/field4}}</p>
                <button type="button" class="btn-edit-name field4"data-id={{id}}><i class="material-icons edit field">edit</i></button>
                <button type="button" class="btn-delete-name field4"data-id={{id}}><i class="material-icons field">clear</i></button>

              </div>
              <div class="contact__field-wrapper">   
                <p class="contact__element-second-name__title">{{#field5}}{{info}}{{/field5}}</p>
                <button type="button" class="btn-edit-name field5"data-id={{id}}><i class="material-icons edit field">edit</i></button>
                <button type="button" class="btn-delete-name field5"data-id={{id}}><i class="material-icons field">clear</i></button>

              </div>

             
            </div>
          </li>
        </ul>
      </div>
{{/each}}